@model IEnumerable<Udemy.Models.ReservasRealizadasCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Reservas Realizadas</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.iidventa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iidventa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>

    </tr>
}

</table>
