@using Udemy.Models;
@model List<SucursalCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Sucursal</h2>
@Html.ActionLink("Agregar", "Agregar", "Sucursal", null, new { @class = "btn btn-primary" })

@using (Html.BeginForm("Index", "Sucursal", FormMethod.Get,new { @id ="frmBusqueda" }))
{
@Html.Label("Buscar Nombre Sucursal")
@Html.TextBox("nombre")

<table class="table table-bordered table-hover" >
    <thead>
        <tr>
            <td>@Html.LabelFor(s => Model[0].iidsucursal)</td>
            <td>@Html.LabelFor(s => Model[0].nombre)</td>
            <td>@Html.LabelFor(s => Model[0].telefono)</td>
            <td>@Html.LabelFor(s => Model[0].email)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidsucursal</td>
                <td>@item.nombre</td>
                <td>@item.telefono</td>
                <td>@item.email</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Sucursal", new { id = @item.iidsucursal }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    @Html.ActionLink(" ", "Eliminar", "Sucursal", new { id = @item.iidsucursal }, new { @class = "glyphicon glyphicon-trash btn btn-danger",@onclick="eliminar" })
                </td>
            </tr>
        }
    </tbody>
</table>
}
<script>
    var nombre = document.getElementById("nombre");
    nombre.onkeyup = function () {
        var frmBusqueda = document.getElementById("frmBusqueda");
        frmBusqueda.submit();
    }

    //Eliminar  
    function eliminar() {
        if(confirm("¿Desea Eliminar el registro?")==1)
        {
            //si
            alert("Se elimino Correctamente")
        } else {
            //no
            event.preventDefault();
        }
    }

</script>

